.email,
.emailbody {
  border-style: ridge;
  background-color: rgb(204, 229, 251);
}

.emailbody {
  margin: 30px 0px;
  padding-bottom: 70px;
}

.allContainer {
  /* padding: 300px 50px 100px 50px; */
  padding: 30vh 0vh;
  background-color: rgba(221, 219, 219, 0.485);
}

.inquire {
  color: rgb(2, 111, 207);
  margin-left: 10px;
}

.portfolio {
  color: rgb(2, 111, 207);
  margin-left: 10px;
}

.error-text {
  color: red;
  margin: auto 0;
  padding: auto 0;
}
